body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --white: #ece9df;
    --black: #1c2c3f;
    --pink: #ae5659;

    --h1: 7.594rem;
    --h2: 3.75rem;
    --h3: 2.25rem;
    --p: 1.75rem;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3,
li {
    font-size: var(--h3);
}

p {
    font-size: var(--p);
}


body {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
}

.spacing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.card {
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    color: var(--pink);
    border-color: var(--black);
    background-color: var(--white);
    width: 400px;
    align-items: center;
}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 400px;
    padding: 20px;
    background-color: var(--white);
    justify-content: center;
}

.goBackButton {
    transform: scale(1.6);
    margin-top: 20px;
}

.goBackButton:hover {
    transform: scale(1.7);
}



img {
    width: 30rem;
    height: 34rem;
    object-fit: cover;
}

.star {
    align-items: center;
}

.starimg {
    width: 3rem;
    height: 3rem;
}

button {
    background-color: var(--white);
    color: var(--pink);
    border: 2px solid var(--black);
    width: 100px;
    height: 20px;
}

button:hover {
    transform: scale(1.1);
    color: var(--white);
    border-color: var(--black);
    background-color: var(--pink);
}